@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-btn {
    @apply bg-gradient-to-r from-orange-400 bg-orange-500 border-2 hover:scale-105 duration-200 text-white py-2 px-4 rounded-full;
  }
}

@layer utilities {
  .shadow-1 {
    @apply drop-shadow-[-15px_15px_15px_rgba(0, 0, 0, 0.5)];
  }
}

/* Xóa gạch chân và viền focus cho div với role="button" và button */
[role="button"],
button {
  text-decoration: none !important;
  outline: none !important;
}

/* Xóa viền focus mặc định khi hover hoặc focus */
[role="button"]:focus,
[role="button"]:hover,
button:focus,
button:hover {
  text-decoration: none !important;
  outline: none !important;
}